[user]
        name = Mark Phillips
        email = embeepea@git
[core]
        autocrlf = input
        safecrlf = true
        pager    = gitpager
[alias]
        co = checkout
        ci = commit
        st = status -sb
        br = branch
        hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
        type = cat-file -t
        dump = cat-file -p
